@model IEnumerable<EmployeeSharp.Domain.Entities.Cargo>

<h1>Lista de Cargos</h1>

<a asp-action="Create" class="btn btn-primary">Adicionar Novo Cargo</a>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Posição</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cargo in Model)
        {
            <tr>
                <td>@cargo.Nome</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@cargo.Id" class="btn btn-info">Editar</a>
                    <a asp-action="Delete" asp-route-id="@cargo.Id" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>