@model EmployeeSharp.Web.Models.ColaboradorViewModel

<div class="modal-header">
    <h5 class="modal-title">Criar Novo Colaborador</h5>
</div>
<div class="modal-body">
    <form id="createColaboradorForm" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="Nome">Nome:</label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Telefone">Telefone:</label>
            <input asp-for="Telefone" class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CargoId">Cargo:</label>
            <select asp-for="CargoId" class="form-control" data-val="true" data-val-required="O campo Cargo é obrigatório.">
                @if (Model.Cargos != null && Model.Cargos.Any())
                {
                    foreach (var cargo in Model.Cargos)
                    {
                        <option value="@cargo.Id">@cargo.Nome</option>
                    }
                }
                else
                {
                    <option disabled>Nenhum cargo disponível</option>
                }
            </select>
            <span asp-validation-for="CargoId" class="text-danger"></span>
            <span id="cargoValidationMessage" class="text-danger"></span>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-secondary" id="closeCreateModal">Cancelar</button>
            @if (Model.Cargos != null && Model.Cargos.Any())
            {
                <button type="submit" class="btn btn-primary">Salvar</button>
            }
        </div>
    </form>
</div>

@section Scripts {
    <script>
        document.querySelector('#createColaboradorForm').addEventListener('submit', function (event) {
            var cargoId = document.getElementById('CargoId').value;
            if (!cargoId) {
                document.getElementById('cargoValidationMessage').innerText = 'Por favor, selecione um cargo válido.';
                event.preventDefault();
            }
        });

        document.querySelector('form').addEventListener('keypress', function (event) {
            if (event.target.getAttribute('name') === 'Telefone') {
                if (!/[0-9]/.test(event.key)) {
                    event.preventDefault();
                }
            }
        });
    </script>
}